<div class="root">
<h1>はしろう<br>そこからはじまる<br>出会いと発見</h1>
</div>
<div>
         <ul class="root_start"> 
            <li class="signup_btn">
               <%= link_to 'サインアップ', new_user_registration_path %> 
            </li>
            <li>
            <span>OR</span>
            </li>
            <li class="login_btn" >
               <%= link_to 'ログイン', new_user_session_path %>          
            </li>
          </ul>
</div>
