/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require_self
 *= require_tree .
 
 */
 @charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap&subset=japanese');

/* 全体共通のデザイン設定　for スマートフォン */

html{
	font-size: 62.5%; /* 16px X 62.5% = 10PX */
}

body{ 
	font-family: "Roboto","Noto Sans Jp",sans-serif;
	font-size: 1.6rem;
	font-feature-settings: "palt" 1;
	letter-spacing: 0.02rem;
	line-height:1.85;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
main{
  color: #007FEB;
}

.main_view{
  padding: 20px;
}

h1{
  font-size: 3.6rem;
}
h2{
  font-size:2.4rem;
}
p{
  font-size: 1.6rem;
}

/* リンク設定リセット */
a:link,a:visited{
  color:#fff;
  font-weight: bold;
}
a:hover,a:active{
  color:#2699FB;
  font-weight: bold;
}
/* フォームのリセット設定 */
/* label{
  padding-right: 10px;
  font-weight: bold;;
} */
/* input{
  margin: 0 10px;
  padding: 0;
  appearance: none;
  font-size: 1.6rem;
} */
textarea,input[type="email"],input[type="password"],input[type="text"]{
  /* appearance: none; */
  width: 100%;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

label{
  display: none;
  font-size: 1.6rem;
}

/* 共通タグ */
.none{
  display: none;
}
.inline-block{
  display: inline-block;
}
.flex{
  display:flex;
}

/* ヘッダー　フッター　ナビ */

header{
  display: none;
}

.header_title{
  display: none;
}

footer{
    width: 100%;
    background-color:#007FEB;
    position: fixed;
    bottom: 0;
    z-index: 99;
  }

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  font-size: 2.4rem;
}
nav ul i{
  color:#fff;
}
nav ul a:hover i{
  color: #2699FB;
}

/*********************/
/*      ホーム画面     */
/*********************/

.home_first_page{
    background-image: url("/img_bg_home_SP@2x.png");
    background-size: 100% auto;
    background-repeat: no-repeat; 
    height: 100vh;
}
.home_first_wrapper{
  width: 248px;
  margin: 0 auto;
}

.home_logo,.home_message{
  text-align: center;
  padding-top: 127px;
  font-size: 3.2rem;
  font-weight: bolder;
  color:#fff;
}


/* トップ画面 */
.home_concept_copy{
  margin-top: 50px;
  color:#fff;
  text-align: center;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 5.0rem;
}

/* スタートボタン */
.root_start {
  margin-top: 300px;
  display:flex;
  justify-content:space-around;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  color: #007FEB;
}

.root_start li{
  text-align: center;
  color: #007FEB;
  font-size: 1.2rem;
}
.root_start  span{
   font-weight: bold;
   color: #fff;
   font-size: 1.6rem;
}

.signup_btn a,.login_btn a{
  display:block;
  text-align: center;
  line-height: 40px;
  width: 100px;
  height: 40px;
  background-color: #fff;
  border:1px solid #007FEB;
  margin: 0 auto;
}

/* コンセプト　＆　使い方 */
.under_view_area{
  margin: 0 35px;
}

.under_view_area p{
  margin: 35px 0;
  color: #000;
}

h2{
  font-size: 4.0rem;
  margin: 48px 0;
  text-align: center;
}

h3{
  font-size: 2.4rem;
  margin: 32px 0;
  text-align: center;
}

.concept img{
  display: block;
  width: 100%;
  margin: 0 auto;
}

.usage img{
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #007FEB;
  border-radius: 16px;
}

/*********************/
/*   アカウントビュー   */
/*********************/

.user_view{
  width: 300px;
  margin: 0 auto;
}

.user_view h2{
  font-size: 2.4rem;
}

.user_avatar_icon{
  width: 120px;
  height: 120px;
  border: 1px solid #aaa;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  background-color: #BCE0FD;
  font-size: 6.0rem;
  line-height: 120px;
}
/* ユーザログイン */
.remember_me{
  margin: 16px 0;
  color: #fff;
  font-weight: bold;
}
.login_shared_links{
  margin: 32px 0;
}
/*********************/
/* アプリのメインビュー */
/*********************/



/* ユーザーアイコン設定 */

.user img,.index_user_icon img{
  width: 32px;
  height: 32px;
  border: 1px solid #aaa;
  border-radius: 50%;
}

/* マップを画面全体の背面に設定 */
.map{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  z-index: -99;
}

/* ツーリングの詳細表示 */
.touring_show_detail{
  position: fixed;
  bottom: 72px;
  padding: 8px;
  background-color: rgba(255,255,255,0.6);

}

.touring_show_detail li{
  padding: 16px;
}
.touring_show_detail span{
  padding: 8px;
  font-weight: bold;
}

/* コメントフォームのボトムに設定 */
.touring_show_comment{
  padding: 16px;
  margin-top: 16px;
}

.comment_form {
  position: fixed;
  bottom: 80px;
  width:90%;
  display: flex;
  justify-content: space-around;
}
.comment_form_textarea{
  flex-basis: 80%;
}


/* ツーリングの詳細入力フォームをボトムに設定 */
.touring_new_form{
  width:100%;
  position: fixed;
  bottom: 80px;
  left:0;
}

.touring_new_form_detail li{
  padding: 16px;
  width: 250px;
  margin: 0 auto;
  display: block;
}
.touring_new_form_detail li img{
  margin-right: 16px;
}
.touring_new_form_latlng li{
  padding: 8px;
}
.touring_new_form_latlng{
  display: none;
}
.touring_new_form input {
  border: 1px solid #007FEB ;
}

.touring_new_form_button{
  display: flex;
  align-items: center;
}

/* 登録ボタン */
.actions:not(.comment_submit) input[type="submit"] {
	border-style: none;
	width: 160px;
  height: 48px;
  margin: 16px auto ;
	border: 1px solid #2699FB;
	display: block;
	border-radius: 24px;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #2699FB;
  color: #fff;
  line-height: 48px;
}

.message{
  display: none;
}

/* ツーリング一覧 */
.index_body{
  display: flex;
  flex-wrap:wrap;
}

.index_list{
  padding: 16px;
  margin: 16px;
  background-color:#F1F9FF ;
}
.index_user{
  display: flex;
  margin-bottom: 16px;
}

.index_user span{
  padding-left: 16px;
}
.index_detail{
  display: flex;
}
.insex_detail_sumb{
  padding: 8px;
}
.index_detail_desc,.index_detail_cal{
  padding: 8px 16px;
}
td{
  padding: 8px;
  vertical-align: middle;
  font-size:1.4rem;
}
.index_user_icon{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.index_route_icon{
  padding-left: 32px;
}

/* ****************************** */
/* ******** For desktop ********* */
/* ****************************** */
@media screen and (min-width: 768px) {
/* 
  input{
  padding: 0;
  appearance: normal;
  } */
  /* textarea{
  appearance: normal;
  } */

  /* a:link,a:visited,a:hover,a:active{
  color:#007FEB;
  font-weight: bold;
  } */

  h2{
    font-weight: bold;
  }

  body{
    /* background-image: url("/img_bg_home_PC.jpg"); */
    background-size: cover;
    background-repeat: no-repeat; 
  } 

  footer{
    display: none;
  }
  header{
    display: flex;
    background-color:#007FEB;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    z-index: 99;
  }

  header p{
    line-height: 6rem;
    font-size: 3.6rem;
    font-weight: bold;
    margin-left: 40px;
    color: white;
  }

  .header_title{
     display: block;
  }
  nav {
    width: 50%;
    right:0 ;
  }

/*********************/
/*      ホーム画面     */
/*********************/

/* コンセプト　＆　使い方 */
  .under_view_area{
    margin: 0 15%;
  }
  .under_view_area p{
    margin: 80px 0;
  }

  h2{
    font-size: 6.0rem;
  }

  .usage{
    display: flex;
    justify-content: space-around;
  }
  .usage li{
    width: 20%;
  }
/*********************/
/* アプリのメインビュー */
/*********************/


  .touring_new,.touring_show {
    display: flex;
    justify-content: space-between;
  }
  .touring_show_container{
      flex-basis: 40%;
  }
  .comment_form {
    width:40%;
  }
  .touring_show_detail,.touring_new_form{
    width: auto;
    position: static;
  }
  .touring_new_form_latlng{
  display: block;
  margin: 32px 0 32px 0 ;
}
  .message{
    display: block;
  }

  .map{ 
    position: static;
    width: 40%; 
    height: 500px;
    z-index: 0;
  }

}