         <ul class="start_btn_container"> 
            <li class="signup_btn">
               <%= link_to 'サインアップ', new_user_registration_path %> 
            </li>
            <li>
            <span>OR</span>
            </li>
            <li class="login_btn" >
               <%= link_to 'ログイン', new_user_session_path %>          
            </li>
          </ul>